<!-- Creature Column-->
<div class="card">
    <h2 class="content-title">
        CREATURE INDEX
    </h2>
    <p>
    </p>
    {{#if creature.length}}
    {{#each creature}}
    <div class="w-400 mw-full">
        <div class="card">
            <h3 class="card-title">
                {{ type }}
            </h3>
            <img src="" alt="">
            <h2></h2>
            <div id="objectLvls">
                <div class="">
                    <div class="">
                        <h6 class="m-0">Rock Lvl: {{ rock_lvl }}
                        </h6>
                    </div>
                    <div class="progress battery m-0">
                        <div class="progress-bar bg-success h-auto" role="progressbar" style="width: 60%"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    <div class="">
                        <h6 class="m-0">Paper Lvl: {{ paper_lvl }}
                        </h6>
                    </div>
                    <div class="progress battery m-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    <div class="">
                        <h6 class="m-0">Scissor Lvl: {{ scissor_lvl }}
                        </h6>
                    </div>
                    <div class="progress battery m-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <h6>Battle Status: {{ is_charming }}</h6>
                {{!-- <a href="#" class="btn">Kick their ass!</a> --}}
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h3>You currently have no creatures!</h2>
        {{/if}}

</div> <!-- creature column end-->