<!-- Creature Column-->
<div class="">
    <h2 class="content-title">
        CREATURE INDEX
    </h2>
    <p>
    </p>
    {{#if creature.length}}
    {{#each creature}}
    <div class="w-400 mw-full">
        <div class="card creatureCard">
            <div class="cardHeaders d-inline-flex justify-content-around align-items-center">
                <h3 class="card-title">
                    {{ name }}
                </h3>
                {{!-- <h6>Type: {{ type }}</h6>
                --}}
                {{#if type}}
                <img class="typeIcons {{ type }}" src="portraits/icons/{{ type }}.png" alt="">
                {{/if}}
            </div>

            <img class="creature-img" src="{{ img }}" alt="">

            <div id="objectLvls">
                <div class="type-levels">
                    <div class="lvl-text">
                        <p class="m-0">Rock Lvl: {{ rock_lvl }}
                        </p>
                    </div>
                    <div>
                        <div class="lvl-text">
                            <p class="m-0">Paper Lvl: {{ paper_lvl }}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="lvl-text">
                            <p class="m-0">Scissor Lvl: {{ scissor_lvl }}
                            </p>
                        </div>
                    </div>
                    <div class="progress battery m-0">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ experience }}"
                            aria-valuemin="0" aria-valuemax="{{ experience_threshold }}"></div>
                    </div>
                    {{#if is_charming}}
                    <h6>Battle Status: {{ is_charming }}</h6>
                    {{else}}
                    {{/if}}
                </div>
            </div>
        </div>

    </div> <!-- creature column end-->
    {{/each}}
    {{else}}
    <h3>You currently have no creatures!</h2>
        {{/if}}
</div>